USE [master]
GO
/****** Object:  Database [CallCenter]    Script Date: 10/01/2023 10:42:43 ******/
CREATE DATABASE [CallCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CallCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CallCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CallCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CallCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CallCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CallCenter]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 10/01/2023 10:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NOMBRE_COMPLETO] [varchar](200) NOT NULL,
	[CEDULA] [int] NOT NULL,
	[PIN] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLA_PAGO]    Script Date: 10/01/2023 10:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLA_PAGO](
	[ID_PAGOS] [int] IDENTITY(1,1) NOT NULL,
	[CEDULA] [int] NOT NULL,
	[FECHA_PAGO] [date] NOT NULL,
	[MONTO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_TABLA_PAGO] PRIMARY KEY CLUSTERED 
(
	[ID_PAGOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TABLA_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_TABLA_PAGO_CLIENTE] FOREIGN KEY([CEDULA])
REFERENCES [dbo].[CLIENTE] ([CEDULA])
GO
ALTER TABLE [dbo].[TABLA_PAGO] CHECK CONSTRAINT [FK_TABLA_PAGO_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONSULTA_CLIENTE]    Script Date: 10/01/2023 10:42:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CONSULTA_CLIENTE](
@CEDULA INT
)
AS 
BEGIN
SELECT ID_PAGOS,CLIENTE.CEDULA,NOMBRE_COMPLETO,FECHA_PAGO,MONTO FROM CLIENTE INNER JOIN TABLA_PAGO ON CLIENTE.CEDULA=TABLA_PAGO.CEDULA WHERE CLIENTE.CEDULA=@CEDULA ORDER BY FECHA_PAGO DESC;
END
GO
USE [master]
GO
